@import 'base/base';
@import 'base/helpers';



.uploader-input{
    display: none;
}

.uploader-wrapper{
    $offset: 2rem;

    bottom: $offset; 
    right: $offset;
    
    position: fixed;
    z-index: 1;

    display: flex;
    align-items: flex-end;
}

.uploader-label {
    background: white;
    color: #333;
    border-radius: .5rem;

    padding: .3rem .6rem;
    margin-right: 1rem;

    font-size: .9rem;
}

.uploader{
    --size: 4rem;

    width: var(--size);
    height: var(--size);

    background-color: #fff;
    border: none;
    border-radius: .5rem;

    transition: 
        transform .2s ease-in-out,
        background-color .2s ease-in-out;

    &:active {
        transform: translateY(-3px);
    }

    &:focus {
        outline: none;
    }

    &:hover,
    &:active {
        background-color: #cecece;
    }

    @include small {
        --size: 3rem;
    }
}

.github-link{
    --offset: 2rem;

    bottom: var(--offset);
    left: var(--offset);

    position: fixed;

    @include small {
        top: var(--offset);
        right: var(--offset);
        left: auto;
    }
}